.delete--account--page {
    h2.text--title {
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        margin: 7px 10px 17px;

    }

    .delete--content--container {
        display: flex;
        flex-direction: column;
        text-align: center;

        .tag--account {
            display: flex;
            position: absolute;
            width: 360px;
            height: 53px;
            left: 0px;
            top: 114px;
            background: #D9D9D9;
            border-radius: 5px;
            color: black;
            justify-content: space-around;
            align-items: center;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;

            .tag--import {
                width: 73px;
                height: 21px;
                background: #000000;
                border-radius: 5px;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                color: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .text--description {
            position: absolute;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #FFFFFF;
            top: 225px;
            margin: 0 16px;
        }

        button.btn--primary {
            position: absolute;
            width: 162px;
            height: 36px;
            left: 93px;
            top: 387px;
            background: #D9D9D9;
            border-radius: 10px;
            font-weight: 500;
            font-size: 15px;
            color: black;
        }
    }
}