.wallet--page {
    text-align: center;

    .text--container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -10px;
    }

    .description--text {
        margin: 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: var(--text-orange-primary);
    }

    .text--title--small {
        margin-top: 18px;
    }


    .text--cancel {
        margin-top: 16%;

        a {

            font-size: 13px;
            line-height: 16px;
            text-align: center;
            font-weight: 700;
        }
    }

    .content--container {
        padding: 0 14px 0;

    }

    .btn--primary {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        width: 324px;
        height: 40px;
        margin-top: 45px;

        a {
            padding: 8px 40px;
        }
    }

    .text--response {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: var(--text-red-primary);
        margin-top: 3px;
    }

}