.back--to--home--text {
    position: absolute;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cannot--token--text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: var(--text-yellow-primary);
    bottom: 50px;
    align-items: center;
    text-align: center;
}
